@font-face {
     font-family: myFont;
     src: url("../assets/fonts/Grechen_Fuemen/GrechenFuemen-Regular.ttf");
}

.hanging-board-container {
     position: absolute;
     width: 25vw;
     height:15vh;
     top: 5.5rem;
     left: 1.2rem;
     margin: 1rem 0;

}

.hanging-board-container p {
     position: absolute;
     font-size: 5vw;
     font-weight: 700;
     font-family: myFont;
     color: #22c55e;
     margin: 0;
     padding: 0.5rem;
     background-color: rgba(0, 0, 0, 0.4);
     border-radius: 50%;
     box-shadow: 0 0 3px 3px rgba(34, 197, 94, 1);
}
