* {
     box-sizing: border-box;
}

body {
     background: url(../assets/main-page/wood-texture.jpg);
     background-position: center;
     background-size: cover;
     width: 100vw;
     display: flex;
     flex-direction: column;
     justify-content: center;
}

body .header-items {
     pointer-events: none;
     height: 100px;
     text-align: center;
     line-height: 100px;
     vertical-align: middle;
     display: flex;
     justify-content: center;
     gap: 20px;
}

.header-items li {
     pointer-events: none;
     font-size: 40px;
     font-weight: 700;
     list-style: none;
}

li a {
     color: #f43f5e;
     cursor: pointer;
     pointer-events: all;
     transition: color 1s;
}

.menu-link a {
     border-right: 1px solid #f43f5e;
     border-left: 1px solid #f43f5e;
     padding: 0 20px;
}

li a:hover {
     color: #3b82f6;
}

li a:focus {
     color: #3b82f6;
     /* border-bottom: 2px solid #ccc; */
}

body .content {
     width: 50vw;
     margin: 0 auto;
     display: flex;
     padding: 20px;
     justify-content: center;
     flex-wrap: wrap;
     gap: 20px;
}

img {
     width: 45vw;
     height: 45vw;
}
