* {
     box-sizing: border-box;
}

body {
     width: 100vw;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     background-color: #fbbf24;
}

.header {
     flex: 1;
     height: 100px;
     border: 1px solid #ccc;
     text-align: center;
     line-height: 100px;
     vertical-align: middle;
}

.header button {
     margin: 8px;
     padding: 8px 16px;
     border-radius: 8px;
     border: 1px solid #ccc;
}

.content {
     background-color: #b45309;
     width: 100vw;
     height: calc(100vh - 100px);
}
